
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Session/_Layout.cshtml";
}

<main class="form-signin">
    @using (Html.BeginForm("Submit", "Session", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <center>
            <h1 class="h3 mb-3 fw-light" style="font-size: 60px; letter-spacing: 5px;">
                G.C.A.V.
            </h1>
        </center>

        <div class="form-floating">
            <input type="email" class="form-control" name="user" placeholder="mi@correo.com">
            <label for="floatingInput">Correo electr&oacute;nico</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" name="password" placeholder="Password">
            <label for="floatingPassword">Contrase&ntilde;a</label>
        </div>

        <div class="checkbox mb-3" hidden>
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-outline-primary" type="submit">Iniciar sesi&oacute;n</button>
        <p class="mt-5 mb-3 text-muted">&copy; droidev</p>
    }
</main>
@section Scripts {
    <script>
        $(document).ready(function () {
            //console.log('hello website!');
            //$('.btn-outline-primary').click();
        });
    </script>
}