@using mvc_crud.Models
@{
    ViewBag.Title = "Logged";
    UserModel user = (UserModel) Session["user"];
}
<h2>Logged</h2>

<h3>ID: @(user == null ? "expired": user.Id.ToString() )</h3>
<h3>Name: @(user == null ? "expired": user.Name)</h3>
<h3>Email: @(user == null ? "expired": user.Email )</h3>
<h3>Level: @(user == null ? "expired": user.Level.ToString() )</h3>
