@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    El sistema Gestor de Comunidad de Automivilismo Virtual es un sistema que permite a los miembros de una comunidad organizarse de forma automatizada para llevar a cabo competiciones de automovilismo virtual, permitiendoles interactuar con la aplicación web de forma que supla esta necedidad organizativa.
</p>
<p>
    A través de formularios se lleva a cabo la recopilando de información del usuario que sea relevante para poder llevar a cabo el registro en los campeonatos presentes en la comunidad, para de esta forma figurar correctamente en la inscripción.
</p>
<p>
    El sistema permite al usuario registrarse en el sistema y acceder a los formularios de inscripción, ya sea a través de equipos o como individual seg&uacute;n la especificaci&oacute;n del campeonato.
</p>
<p>
    Se permitirá a futuro ver la clasificación de equipos y pilotos, gestionar los servidores a través de los datos establecidos por la liga, iniciar de forma autónoma el servidor y la configuración del mismo respecto de la carrera virtual en cuestión.
</p>