@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    GCAV<br />
    Ensenada, BC 22800<br />
    <abbr title="Phone">Teléfono:</abbr>
    +5216462455880
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:al16760562@gmail.com">al16760562@gmail.com</a><br />
    <strong>Desarrollo:</strong> <a href="mailto:l16760562@ensenada.tecn.mx">l16760562@ensenada.tecn.mx</a>
</address>